<ion-view view-title="Artists">
    <ion-content has-bouncing="true">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="refreshArtists()"></ion-refresher>

        <div class="list">

            <a collection-repeat="artist in artists" class="item item-thumbnail-left" ng-href="#/tab/artists/{{artist.id}}">
                <img ng-src="{{::miniaturesPath}}{{artist.artwork}}">
                <h2>{{artist.name}}</h2>
                <p><b>{{artist.nbAlbums}}</b> album<span ng-if="artist.nbAlbums>1">s</span>, <b>{{artist.nbTitles}}</b> song<span ng-if="artist.nbTitles>1">s</span><span ng-if="artist.like>0">, <b>{{artist.like}}</b> <i class="icon ion-ios-heart"></i></span></p>
            </a>

        </div>

    </ion-content>
</ion-view>
