<div class="image" ng-style="{'background':'url('+miniaturesPath+player.playlist[player.playlistIndex].artwork+') left','background-size':'100%'}">
    <i class="icon ion-ios-play" ng-click="player.play()" ng-hide="player.playing"></i>
    <i class="icon ion-ios-pause" ng-click="player.pause()" ng-show="player.playing"></i>
</div>

<div class="song" ng-click="openPlayer()">
    <span class="title">{{player.playlist[player.playlistIndex].name}}</span>
    <br>
    <span class="artist">{{player.playlist[player.playlistIndex].artist}}</span>
</div>

<i class="icon like" ng-click="player.toggleCurrentLike()" ng-class="{'ion-ios-heart': player.playlist[player.playlistIndex].like, 'assertive' : player.playlist[player.playlistIndex].like, 'ion-ios-heart-outline': !player.playlist[player.playlistIndex].like, 'dark' : !player.playlist[player.playlistIndex].like}"></i>
<button class="button button-icon ion-ios-fastforward" ng-click="player.next()"></button>
