<ion-view view-title="PlaylistItems">
    <ion-content class="title-list" scroll="true" has-bouncing="true" >


        <div class="list">
            <div class="item item-song two-lines" ng-repeat="title in playlist" ng-click="playTitle($index)">

                <img  ng-src="{{miniaturesPath}}{{::title.artwork}}" />
                <h2>{{::title.name}}</h2>
                <p>{{::title.artist}}</p>

                <button class="button button-icon ion-more" ng-click="showPopover($event,title)"></button>

            </div>
        </div>

    </ion-content>
</ion-view>

