<div class="play-square">
    <div class="artwork" id="artwork" ng-style="{'background':'url('+artworksPath + player.playlist[player.playlistIndex].artwork+') left','background-size':'100%'}">
        <div class="blur"  ng-style=" {'width' : 100 - 100 * progress + '%'} ">
        </div>
    </div>

    <div class="title">
		<span class="artist">{{player.playlist[player.playlistIndex].artist}}</span>
        <br/>
		<span class="song">{{player.playlist[player.playlistIndex].name}}</span>
    </div>
    <div class="current-time">{{position | date : 'mm:ss'}}</div>
    <div class="total-duration">{{duration | date : 'mm:ss'}}</div>
</div>

