<ion-popover-view class="fit">
    <ion-content scroll="false">
        <ul class="list">
            <li class="item popover-item">
            <button class="button button-clear button-balanced popover-button" ng-click="startPlaylist()">
                Play
            </button>
            </li>
            <li class="item popover-item">
            <button class="button button-clear button-assertive popover-button" ng-click="deletePlaylist()"> 
                Delete
            </button>
            </li>
        </ul>
    </div>
</ion-content>
</ion-popover-view>


