<ion-scroll class="playlist-bar" direction="x" delegate-handle="playlistBarScroll" has-bouncing="true" scrollbar-x="false" scrollbar-y="false" >
    <div collection-repeat="title in player.playlist" ng-click="player.launchPlayer(title)"  class="card" >
        <div class="image" ng-style="{'background':'url('+miniaturesPath + title.artwork+') left','background-size':'100%'}">
            <div class="song-title"> {{title.name}}</div>
            <div class="blur" ng-if="player.playlistIndex != $index"></div>
        </div>
    </div>
</ion-scroll>
