<ion-view view-title="Player" >
    <ion-content id="player" scroll="false">

        <div class="top">
            <div class="artwork" ng-click='seek($event);' ng-style="{'background':'url('+artworksPath + player.playlist[player.playlistIndex].artwork+') left','background-size':'100%'}">
                <div class="blur" ng-style="{'width':100 - progress + '%'}">
                </div>
            </div>

            <div class="title">
                {{player.playlist[player.playlistIndex].artist + ' '}}
                <br/>
                {{player.playlist[player.playlistIndex].name + '    '}}
            </div>
            <div class="current-time">{{position | date : 'mm:ss'}}</div>
            <div class="total-duration">{{duration | date : 'mm:ss'}}</div>
        </div>


        <div class="controls">
            <div class="row">
                <div class="col"></div>
                <div class="col"><button class="button button-icon ion-ios-rewind" ng-click="player.prev()"></button></div>
                <div class="col">
                    <button class="button button-icon ion-ios-play" ng-click="player.play()" ng-hide="player.playing"></button>
                    <button class="button button-icon ion-ios-pause" ng-click="player.pause()" ng-show="player.playing"></button>
                </div>
                <div class="col"><button class="button button-icon ion-ios-fastforward" ng-click="player.next()"></button></div>
                <div class="col"></div>
            </div>

        </div>
        <playlist-bar player="player"></playlist-bar>

    </ion-content>
</ion-view>
