<ion-view view-title="Playlists">

    <ion-content has-bouncing="true">
        <ion-list>

            <ion-item collection-repeat="playlist in playlists" class="item-thumbnail-left" ng-href="#/tab/playlists/{{playlist.id}}">
                <img ng-src="{{playlist.artwork}}">
                <h2>{{playlist.name}}</h2>
                <!--<p><b>{{artist.nbAlbums}}</b> albums, <b>{{artist.nbTitles}}</b> songs</p>-->
            </ion-item>

        </ion-list>

    </ion-content>


</ion-view>
