<ion-view view-title="PlaylistItems">
    <div class="bar bar-header">
        <button class="button button-icon icon pink ion-ios-play" ng-click="playPlaylist('normal')"></button>
        <div class="h1 title">{{playlistName}}</div>
        <button class="button button-icon icon pink ion-ios-shuffle-strong" ng-click="playPlaylist('shuffle')"></button>
    </div>
    <ion-content class="title-list has-header" scroll="true" has-bouncing="true" >


        <div class="list">
            <div class="item item-song two-lines" collection-repeat="title in playlist" ng-click="playTitle(title)">

                <img  ng-src="{{miniaturesPath}}{{title.artwork}}" />
                <h2>{{title.name}}</h2>
                <p>{{title.artist}}</p>

                <button class="button button-icon ion-more" ng-click="showPopover($event,title)"></button>

            </div>
        </div>

    </ion-content>
</ion-view>

