<ion-view view-title="Search">

        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <form ng-submit="hideKeyboard()" >
                <input type="search" id="search-input" placeholder="Search" ng-model="search">
                </form>
            </label>
            <button class="button button-clear" ng-click="cancel()">
                Cancel
            </button>
        </div>

    <ion-content has-bouncing="true" class="has-header">

        <div class="list">
            <div class="item item-song two-lines" collection-repeat="title in titles" ng-click="playTitle(title)">

                <img  ng-src="{{miniaturesPath}}{{title.artwork}}" />
                <h2>{{title.name}}</h2>
                <p>{{title.artist}}</p>

                <button class="button button-icon ion-more" ng-click="showPopover($event,title)"></button>

            </div>
        </div>

    </ion-content>
</ion-view>

