<ion-view view-title="Settings">
        <div class="bar bar-header bar-light">
            <h1 class="title">Settings</h1>
        </div>
    <ion-content  scroll="false" class="has-header">

        <div class="list">

            <a class="item dark item-icon-left item-icon-right" ng-href="#/tab/settings/manage-directories">
                <i class="icon ion-ios-folder"></i>
                Manage Music Directories
                <i class="icon ion-ios-arrow-right"></i>
            </a>

            <ion-toggle ng-model="config.showStatusBar" ng-change="toggleStatusBar()" toggle-class="toggle-balanced">Show Statusbar</ion-toggle>
            <ion-toggle ng-model="config.goToPlayer" ng-change="toggleGoToPlayer()" toggle-class="toggle-balanced">Go to player on play</ion-toggle>

            <div class="item item-icon-left item-icon-right" ng-click="findMissingArtworks()">
                <i class="icon ion-ios-cloud-download"></i>
                Find album covers online
                <ion-spinner ng-show="isSearchingArtworks" class="icon ios"></ion-spinner>
            </div>
            <div class="item item-icon-left item-icon-right" ng-click="findArtistNames()">
                <i class="icon ion-ios-cloud-download"></i>
                Find artist names online
                <ion-spinner ng-show="isSearchingArtists" class="icon ios"></ion-spinner>
            </div>

            <div class="item item-icon-left" ng-click="clearAllDatabase()">
                <i class="icon ion-ios-trash assertive"></i>
                Clear Database
            </div>


        </div>
    </ion-content>
</ion-view>
