<ion-view view-title="Settings">
        <div class="bar bar-header bar-light">
            <h1 class="title">Settings</h1>
        </div>
    <ion-content  scroll="false" class="has-header">
        <div>
            <button class="button button-full button-balanced" ng-click="scan();">Scan Music Folder</button>
            <button class="button button-full button-assertive" ng-click="flush();">Clear Database</button>
            <button class="button button-full button-positive" ng-click="findAlbumCovers();">Find album covers</button>
            <img id="myImage"></img>
        </div>
    </ion-content>
</ion-view>
