<play-bar ></play-bar>
<ion-tabs class="tabs-icon-top tabs-color-active-positive" >
  <!-- Playlists Tab -->
  <ion-tab title="Playlists" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/playlists">
    <ion-nav-view name="tab-playlists"></ion-nav-view>
  </ion-tab>

  <!-- Artists Tab -->
  <ion-tab title="Artists" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/artists">
    <ion-nav-view name="tab-artists"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
