<ion-view view-title="Titles" id="titles-view">
    <ion-content class="title-list" scroll="true" has-bouncing="true" >

        <div ng-repeat="album in ::albums">
            <ion-item class="item-divider album-header">
                {{::album.name}}
            </ion-item>

            <ion-list>
                <ion-item class="item-song one-line" ng-repeat="title in ::album.titles" ng-click="playTitle(title.index)">

                    <img  ng-if="$index==0" ng-src="{{::miniaturesPath}}{{::album.artwork}}" />
                    <h2>{{::title.name}}</h2>
                    <!--<p>{{::title.artist}}</p>-->

                    <button class="button button-icon ion-more" ng-click="showPopover($event,title.id)"></button>

                </ion-item>
            </ion-list>

        </div>

    </ion-content>
</ion-view>
