<ion-popover-view class="fit">
    <ion-content scroll="false">
        <ul class="list">
            <li class="item popover-item">
            <button class="button button-clear button-balanced popover-button" ng-click="addNext()">
                Next
            </button>
            </li>
            <li class="item popover-item">
            <button class="button button-clear button-positive popover-button" ng-click="addToPlaylist()">
                Add to playlist...
            </button>
            </li>
            <li class="item popover-item">
            <button class="button button-clear button-stable popover-button"> 
                Edit
            </button>
            </li>
        </ul>
    </div>
</ion-content>
</ion-popover-view>

